langchain-groq
langgraph
networkx
opencv-python
cvzone
mediapipe==0.10.14
kaggle
fastapi
uvicorn
pydantic
python-dotenv
synaptoroute
fastembed
faiss-cpu
sentence-transformers
python-multipart
requests
torch
torchvision
